In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
import dateutil.relativedelta
from tqdm import tqdm

from utils import get_ticker_record, compute_rsi, compute_macd, get_single_ticker_info

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
nasdaq_screener = pd.read_csv('nasdaq_screener.csv')

In [5]:
ticker_lst = nasdaq_screener['Symbol'].tolist()

In [17]:
all_tickers = list()

for ticker in tqdm(ticker_lst[:50]):
    single_ticker_info = get_single_ticker_info(ticker)
    if single_ticker_info is not None:
        all_tickers.append(single_ticker_info)
        
columns = ['ticker', 'close t', 'volume t', 'RSI t', 'MACD t', 'signal t', 
           'close t-1', 'volume t-1', 'RSI t-1', 'MACD t-1', 'signal t-1']

df = pd.DataFrame(all_tickers, columns = columns)

100%|██████████| 50/50 [00:29<00:00,  1.67it/s]

In [7]:
df

,ticker,close t,volume t,RSI t,MACD t,signal t,close t-1,volume t-1,RSI t-1,MACD t-1,signal t-1
0,A,138.130005,1264400.0,66.448469,1.123919,0.515962,137.539993,3699600.0,65.321511,0.766034,0.363973
1,AA,39.669998,4525600.0,58.705728,0.565533,0.841269,39.009998,6946100.0,56.857355,0.428743,0.910203
2,AAC,9.770000,29600.0,44.794282,-0.009516,-0.011543,9.850000,84300.0,54.451917,-0.006777,-0.012049
3,AACG,2.980000,55000.0,47.918674,-0.115710,-0.168847,2.950000,58000.0,46.822490,-0.133324,-0.182132
4,AACQ,9.960000,1013100.0,48.042938,-0.044781,-0.069664,9.960000,696500.0,48.042938,-0.052656,-0.075884
5,AACQU,10.470000,700.0,46.373398,-0.068519,-0.095299,10.520000,1700.0,48.829322,-0.075947,-0.101994
6,AAIC,4.070000,127800.0,52.283538,-0.005259,-0.007512,4.030000,174500.0,48.953215,-0.008715,-0.008076
7,AAL,24.240000,30523200.0,63.389137,0.507081,0.257966,24.430000,36389500.0,65.354235,0.444040,0.195688
8,AAMC,17.080000,21700.0,45.747777,-0.273382,-0.362266,16.809999,4000.0,43.052821,-0.285465,-0.384487
9,AAME,4.330000,52900.0,54.547408,0.060587,0.049387,4.290000,38300.0,53.556522,0.054962,0.046587
10,AAN,35.970001,131100.0,69.649357,2.007695,1.829330,36.130001,194400.0,70.687484,1.984908,1.784738
11,AAOI,8.230000,415900.0,58.865471,0.057223,-0.043846,8.210000,513900.0,58.508700,0.027615,-0.069113
12,AAON,66.250000,159200.0,45.743634,-0.536232,-0.690649,65.959999,174500.0,44.150903,-0.563487,-0.729253
13,AAP,189.729996,702500.0,41.127321,-1.433043,0.655308,188.639999,1011600.0,39.001349,-1.139964,1.177396
14,AAPL,124.610001,71232700.0,42.677551,-1.006975,-0.877064,125.279999,94625600.0,44.159877,-0.919493,-0.844586
15,AAQC,9.650000,0.0,29.032268,-0.035063,-0.028409,9.650000,2300.0,NaN,-0.035371,-0.026746
16,AAT,36.549999,321000.0,63.993578,0.482457,0.368618,36.000000,486600.0,60.639820,0.407191,0.340158

In [21]:
# 1. close t > close t-1
df_close = df.loc[df['close t'] > df['close t-1']]
df_close.to_csv("df_close.csv")

In [19]:
# 2. RSI t-1 < 30 & RSI t > 30
df_rsi = df_close.loc[(df_close['RSI t-1'] < 30) & (df_close['RSI t'] > 30)]
df_rsi.to_csv("df_rsi.csv")

Empty DataFrame
Columns: [ticker, close t, volume t, RSI t, MACD t, signal t, close t-1, volume t-1, RSI t-1, MACD t-1, signal t-1]
Index: []

In [20]:
# 3. MACD t-1 < signal t-1 & MACD t > signal t
df_macd = df_rsi.loc[(df_rsi['MACD t-1'] < df_rsi['signal t-1']) & (df_rsi['MACD t'] > df_rsi['signal t'])]
df_macd.to_csv("df_macd.csv")

Empty DataFrame
Columns: [ticker, close t, volume t, RSI t, MACD t, signal t, close t-1, volume t-1, RSI t-1, MACD t-1, signal t-1]
Index: []